body {
  background-image: url("/images/fondo.png");
  margin: 80px;
}
h1 {
  color: #fff;
  font-family: sans-serif;
}
a strong{
  color: #fff;
  text-decoration: none;
}

.cuerpo p {
  text-align: justify;
  background-image: url("/images/fondop.jpg")
}
#democrats{
  font-size: 18px;
  color: #fff;
  
}
#democrats ul{
  margin: 20px;
  border: 5px solid #000;
}
.etiqueta{
  background-color: #fff;
  opacity:0.7;
  filter: alpha(opacity=70);
  margin-left: 800px;
}
.etiqueta p{
  background-color: transparent;
}

