body {
  background-color: #1792a4;
}
.acerca{
  border-top: 2px;
  border-color: #80c9c6;
  margin: 50px;
  background-color: #80c9c6;
  margin-top: 0px;
  margin-bottom: 0px;
}
.cabecera {
  height: 400px;
  background-color: #44b4c4;
}
.acerca h1{
    margin-top:0px;
    font-size: 50px;
    border-bottom-color: #fff;
    border-bottom-style: solid
}
.texto{
  margin: 50px;
  background-color: #c8e5e3;
  margin-top: 0px;
  border-radius: 20px;
  border-right: 5px solid #fff;
  border-left:5px solid #fff;
  border-bottom:5px solid #fff;
}
.texto p{

  margin: 20px;
  text-align: justify;
  margin-top: 0px;
  font-size: 20px;
  
}
.texto a{
  margin: 20px;
  text-decoration: none;
}

.cabecera img{
  border-radius: 50%; 
  width:300px;
  height:300px;
  border: 5px solid #fff;
  margin-top: 50px;
}
