body {
  background-color: #2c2426;
}
.cero{
  margin: 20px; 
}
.primero{  

  margin: 0 auto;
  margin-top: 70px;
  background-color: #453823;
  height: 100px;
  width: 960px;
  border-radius: 20px;
  border: 5px solid #fff;
}
.segundo {
  margin: 0 auto;
  margin-top: 100px;
  background-color: #BAA378;
  height: 50px;
  width: 500px;
  border-radius: 20px;
  border: 5px solid #fff;
}
.tercero {
  margin: 0 auto;
  margin-top: 50px;
  background-color: #b4a28f;
  height: 50px;
  width: 500px;
  border-radius: 20px;
  border: 5px solid #fff;
}

.cuarto{

  margin: 0 auto;
  margin-top: 50px;
  background-color: #663300;
  height: 50px;
  width: 960px;
  border-radius: 20px;
  border-right: 5px solid #663300;
  border-left:5px solid #663300;
  border-bottom:5px solid #663300;
}


.acerca h1{
    margin-top:0px;
    font-size: 50px;
    border-bottom-color: #fff;
    border-bottom-style: solid
}
.texto{
  margin: 50px;
  background-color: #c8e5e3;
  margin-top: 0px;
  border-radius: 20px;
  border-right: 5px solid #fff;
  border-left:5px solid #fff;
  border-bottom:5px solid #fff;
}
.texto p{

  margin: 20px;
  text-align: justify;
  margin-top: 0px;
  font-size: 20px;
  
}
.texto a{
  margin: 20px;
  text-decoration: none;
}

.cabecera img{
  border-radius: 50%; 
  width:300px;
  height:300px;
  border: 5px solid #fff;
  margin-top: 50px;
}
